# Byte-compiled / cache
__pycache__/
*.py[cod]
*.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
.env/
ENV/
.venv/

# PyCharm
.idea/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log

# macOS
.DS_Store
